<h1>Contact Info</h1>

<ul>
<li><%= @contact.name %> - <%= @contact.phone_number %></li>
</ul>
<hr>
<%= link_to "Send a message", new_contact_message_path(@contact) %> | 
<%= link_to "Home", root_path %>
